Options -Multiviews

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [L]

#Rewrite URL
# RewriteRule ^users/([0-9]+)/?$ users.php?id=$1 [NC,L]